[Unit]
Description="Standalone container version of NGINX webserver."

[Service]
ExecStartPre=/usr/bin/docker create -t -i -v /etc/nginx:/etc/nginx/:ro --net=host -v /usr/share/nginx:/usr/share/nginx/:ro --name nginx-container modularitycontainers/nginx
ExecStart=/usr/bin/docker start -a nginx-container
ExecStop=/usr/bin/docker stop nginx-container
ExecStopPost=/usr/bin/docker rm -f nginx-container

[Install]
WantedBy=multi-user.target
